*{
    margin: 0;
    padding: 0;
    outline: 0;          
    /* border: 1px solid gray;   */
    list-style-type: none;
}
body{
    background-image: url("./assets/plant.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* overflow: hidden; */
}

/* Navbar */

.container{
    display: flex;
    font-size: 25px;
    color: white;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-top: 25px;
    margin-left: 25px;
    font-size: 35px;
    flex: 1;
}

.list-items{
    display: flex;
    list-style-type: none;
    flex: 2;
    justify-content: space-around;
    align-items: center;
}
.list-item{
    margin-left: 25px;
}

.phone-svg{
    display: flex;
    border-color: red;
}


/* Copy pasted code to check */

/* .container {
    width: 90%;
    margin: 0 auto;
    color: white;
    font-weight: bolder;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

nav ul {
    display: flex;
    border-bottom: 2px solid white;
}

nav ul li {
    margin: 2rem;
}

nav ul li span {
    display: flex;
} */


/* Hero Section */



.hero-section{
    color: white;
    margin-left: 45px;        
    margin-top: 15px;
    width: 700px ;
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    
}

.hero-section h1{    
    display: inline-block; 
    width: 700px;
    height: 175px;
    
    position: relative;
    font-size: 65px;    
    
    
}
.btn{
    background: transparent;
    padding: 25px;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    margin-top: 25px;
}

.card{
    
    width: 300px;
    height: 200px;
    background: #f3eded84;
    box-shadow: 0 3px 5px #0000004c;
    opacity: 0.6;
}

.card-puzzle{
    position: absolute;
    top: 200px;
    right: 65px;
}

.card-light{
    position: absolute;
    bottom: 15px;
    left: 435px;
}

.icon-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 5rem;
    background: #fff;
}

.desc {
    position: absolute;
    margin-right: 1rem;
    bottom: 2rem;
    font-weight: 600;
}

.card-light .line {
    position: absolute;
    top: 30px;
    left: 298px;
}
.card-puzzle .line {
    position: absolute;
    bottom: -67px;
    right: 20px;
    transform: rotate(90deg);
}